body {
    font-family: Arial, Helvetica, sans-serif;
  }
  @media screen and (max-width: 650px) {
    .mobile-container {
        max-width: 480px;
        margin: auto;
        height: 500px;
        color: #ffffff;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #3E3655;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        text-align: center;
      }
      
      .topnav a.icon {
        background: #3E3655;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #3E3655;
        color: #ffffff;
      }
      
      .active {
        background-color: #3E3655;
        color: #ffffff;
        height: 20px;
        margin-left: -70%;
      }
  }
  